
body {
  font-family: $font-family;
  background: #FcFcFc;
}

@mixin box-shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  border: 1px solid #42516e30;
}

@mixin border-radius {
  border-radius: 3px;
}

scroll-view {

  display: block;

  &[orientation="horizontal"] {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &[orientation="vertical"] {
    overflow-x: hidden;
    overflow-y: scroll;
  }

}

* [secction],
* [padding] {
  padding: 8px 24px;
  box-sizing: border-box;
}

* [block] {
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

* [secction] {

  h1 {
    font-size: 24px;
    color: $heading_color;
    margin: 0
  }

}

a {
  color: $link_text_color;
}

input[type="search"],
input[type="text"],
input[type="password"],
input[type="email"],
search-box {
  display: inline-block;
  outline: none;
  background: $light-bg;
  border: 1.2px solid $border-color-light;
  padding: 4px;
  border-radius: 4px;
}

search-box {
  input[type="search"] {
    display: inline-flex;
    outline: none;
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
  }
}

.nx-panel {
  background: $light-bg;
  color: $text-color;
  padding: 20px;
  @include border-radius;
  @include box-shadow;

  input {
    margin: 2px;
    padding: 6px;
    min-width: 200px;
    background: white;
  }
}

md-menu-item {
  height: 0;
  min-height: fit-content;

  > .md-button {
    line-height: unset;
    padding: 4px 14px;
    min-height: fit-content;
    height: 0;
    color: #42516e;
    margin: 0;
  }
}

md-menu-content {
  padding: 4px 0;

  h1 {
    color: $primary-color;
    margin: 0;
    font-size: 14px;
    padding: 4px 12px 8px 12px;
    font-weight: 700;
  }

}

.form {

  margin: 4px 0;
  item {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin: 4px 0;

    div[layout="row"] {
      input {
        margin: 0 8px 0 0;
      }
    }

    label {
      font-size: 14px;
      font-weight: 700;
      margin: 4px 0 2px 0;
      text-transform: capitalize;
    }

    input {
      max-width: 300px;
    }
  }

}
