.nx-dialog-dates {
  min-width: 520px;
  padding: 16px;

  h1 {
    color: $primary-color;
    font-size: 26px;
    font-weight: 500;
  }

  .choosers {

    label {
      font-size: 14px;
      color: #333;
      border-bottom: 1px solid #ddd;
      display: block;
      padding-bottom: 8px;
    }


    md-calendar {
      margin: 2px;

      transform: scale(0.75);
      margin: -40px;
    }


  }

  .line {
    height: 1px;
    background: #ddd;
  }

}