.nx-dialog-filter {
  min-width: 550px;
  padding: 16px;

  h1 {
    color: $primary-color;
    font-size: 26px;
    font-weight: 500;
  }

  .container-filter {
    display: flex;
    justify-content: space-between;

    .aggregation-filter {
      width: 30%;
    }

    .channel-filter {
      width: 60%;
    }

  }

  .choosers {
    padding-bottom: 15px;

    md-select {
      display: inline-block;
      outline: none;
      background: $light-bg;
      border: 1.2px solid $border-color-light;
      padding: 2px;
      border-radius: 4px;
      width: 150px;
    }

    label {
      font-size: 14px;
      color: #333;      
      display: block;
      padding-bottom: 8px;
      font-weight: 700;
    }

  }

  .list {

    height: 350px;
    overflow-y: scroll;
    margin-top: 10px;

    .logo {
      height: 34px;
      width: 34px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-flex;
      vertical-align: middle;
    }

    .md-button {
      padding: 10px;
      border-radius: 0;
      border-top: 1px solid #dddddd;
    }

    .md-button:first-child {
      border-bottom: none;
    }

  }

  .line {
    height: 1px;
    background: #ddd;
  }

}