.nx-dialog-add {

  min-width: 520px;
  padding: 16px;

  h1 {
    color: $primary-color;
    font-size: 26px;
    font-weight: 500;
  }

  .groups {

  }

  .group {

    label {
      font-size: 14px;
      color: #333;
      border-bottom: 1px solid #ddd;
      display: block;
      padding-bottom: 8px;
    }

    .content {
      .item {

        border-radius: 5px;

        display: inline-flex;
        max-width: 250px;

        padding: 8px;

        cursor: pointer;

        label {
          border: none;
          padding-bottom: 0;
          font-size: 18px;
          font-weight: 500;
        }

        description {
          font-size: 11px;
          color: #666;
          display: inline-flex;
          line-height: 1.1;
        }

        md-icon {
          margin-right: 6px;
          min-width: 42px;
          min-height: 42px;
        }

      }

      .item:hover {
        background: #dddddd;
      }

    }

  }

  .line {
    height: 1px;
    background: #ddd;
  }

}