nx-channel {

  display: inline-block;
  outline: none;
  &:hover{
    cursor: pointer;
    opacity: .5;
  }

  .online,
  .offline {
    position: relative;
    margin-right: 20px;
    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-left: 10px;

      top: calc(50% - 3px);
    }
  }

  .online {
    &:after {
      background: #54C600;
    }
  }

  .offline {
    &:after {
      background: red;
    }
  }

  .channel {
    //padding: 20px;
    margin: 5px;
    display: inline-flex;
    width: 363px;
    height: 116px;
    background: #F8F8F8;
    padding: 9px;
    box-sizing: border-box;

    &_label{
      color: #42516e;
      font-size: 12px;
      font-weight: 700;
    }

    @include border-radius;
    @include box-shadow;

    &_panel-left {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &_panel-right {

      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &_logo {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }


    &_online {
      //position: absolute;
      align-self: flex-end;
      font-size: 14px;
    }

    &_publishing {
      //position: absolute;
      font-size: 14px;
      align-self: flex-end;
    }

    &_chart {
      height: 96px;
      margin: 2px;
    }

  }
}