.config{



  &__tabs{

    input[name="tab-control"]{
      display: none;
      @for $i from 1 through 2 {
        &:nth-of-type(#{$i}):checked {
          & ~ label:nth-of-type(#{$i}){
            border-bottom: 2px solid $accent-color;
          }
        }
      }
    }

    display: flex;
    justify-content: flex-end;


    &__item{
      outline: none;
      margin-right: 10px;
      font-size: 14px;
      text-align: left;
      font-weight: bold;
      &:hover{
        cursor: pointer;

      }



    }
  }

}

.avProfile{

  &__label{
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }

  &-list{
    //background: white;

    min-width: 150px;
    min-height: 50px;

    table tbody td{
      padding: 0 10px;
      &.text-center{
        text-align: center;
      }
    }

  }



  &__details{
    background: white;
    padding: 15px;
  }

}

