
button.nx-section-menu {
  padding: 5px 10px;
  border: 1px solid #42516e;
  border-radius: 5px;
  color: #42516e;
  font-size: 15px;
  margin: 0 0 0 10px;
  font-weight: 700;

  md-icon {
    fill: #42516e;
  }

}