.channel-logo {
  height: 100px;
  width: 200px;
  background-size: contain;
  background-position: center center;
  border-radius: 5px;
  background-color: #bcbec0;
  background-repeat: no-repeat;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  //border: 1px solid #dfe1e6;
}
