.channel-logo {
  $padding: 15px;
  height: 100px - $padding;
  width: 200px - $padding;
  background-size: contain;
  background-position: center center;
  border-radius: 5px;
  background-color: #8b8283;
  background-repeat: no-repeat;
  outline: none;
  background-origin: content-box;
  padding: $padding;
  &:hover {
    cursor: pointer;
  }
  //border: 1px solid #dfe1e6;
}
