<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <title><%= title %></title>

    <meta charset="UTF-8">
    <meta name="description" content="Media Management Portal">
    <meta name="keywords" content="media, vod, live, broadcast, video, audio, tv, radio">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/lib/bower_components/angular-material/angular-material.min.css'/>
    <link rel='stylesheet' href='/res/values/main.css'/>

    <link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="icon" href="/favicon.ico">

    <base href="/">

</head>
<body ng-app="NxStudio" ng-cloak ng-controller="MainCtrl" layout="row">

<div class="nx-main-bar" ng-include="'/res/layout/fragment_main_bar.html'" ng-hide="mainBar.hidden">
</div>

<div class="nx-nav-panel" ng-include="'/res/layout/fragment_nav_panel.html'" ng-hide="navPanel.hidden">

</div>
<div class="nx-main-wrapper"
     ng-view layout-fill>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/lib/bower_components/angular/angular.min.js"></script>
<script src="/lib/bower_components/angular-route/angular-route.min.js"></script>
<script src="/lib/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/lib/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/lib/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="/lib/bower_components/angular-material/angular-material.min.js"></script>
<% // noinspection JSUnresolvedVariable
for(var i = 0; i < javascript.length; i++) {  // noinspection JSUnresolvedVariable
-%>
<script src="<%= javascript[i] %>"></script>
<% } %>
</body>
</html>
