<div class="dialog_change_password">
    <h2 class="dialog_change_password__title">{{title}}</h2>
    <div class="dialog_change_password__form" flex layout="column" layout-align="center center">

        <input placeholder="New password"
               type="password" ng-model="newPassword"
               aria-label="password"
               title="password" autocomplete="off">

        <input placeholder="Password verification"
               type="password" ng-model="newPasswordVerify"
               aria-label="Password verification"
               title="Password verification" autocomplete="off">

        <md-button ng-click="save()"
                   ng-disabled="verifyPassword()"
                   class="md-raised md-primary" layout="row" layout-align="center center">
            <md-progress-circular ng-show="loading" class="md-primary md-hue-3" md-diameter="30"></md-progress-circular>
            <span ng-show="!loading">Save</span>
        </md-button>

    </div>
</div>
