<div class="dialog_alert">
    <h2 class="dialog_alert__title">{{title}}</h2>
    <div class="dialog_alert__form" flex layout="column" layout-align="center center">
        <p>{{description}}</p>
        <md-button ng-click="ok()"
                   class="md-raised md-warn" layout="row" layout-align="center center">
            <md-progress-circular ng-show="loading" class="md-warn md-hue-3" md-diameter="30"></md-progress-circular>
            <span ng-show="!loading">ok</span>
        </md-button>

    </div>
</div>
