<div class="channel">
    <div class="channel_panel-left">
        <div class="channel_logo"
             ng-style="{'background-image':'url('+channel.poster[0].url+')'}">

        </div>
        <span class="channel_name">{{channel.name}}</span>
        <span>Viewing Now</span>
        <span>{{channel.stats[channel.stats.length-1].users}}</span>
    </div>
    <div class="channel_panel-right">

        <div class="channel_online">
            <span class="{{channel.online ? 'online' : 'offline'}}">on line</span>
        </div>
        <div class="channel_publishing">
            <span class="{{channel.publishing ? 'online' : 'offline'}}">published</span>
        </div>
        <div class="channel_chart" >
            <canvas></canvas>
        </div>
    </div>
</div>