<md-dialog>
    <md-dialog-content class="nx-dialog-filter">
        <h1>Choose filter</h1>

        <div class="container-filter choosers">

            <div ng-show="ctrl.showAggregation" class="aggregation-filter">
                <label>Aggregation</label>
                <md-select ng-model="ctrl.aggregation" class="md-no-underline">
                    <md-option value="auto">Automatics</md-option>
                    <md-option value="per_minute">Minute</md-option>
                    <md-option value="per_5minute">5 Minutes</md-option>
                    <md-option value="pre_quarter_hr">15 Minutes</md-option>
                    <md-option value="per_half_hr">30 Minutes</md-option>
                    <md-option value="per_hr">Hour</md-option>
                    <md-option value="per_day">Day</md-option>
                </md-select>
            </div>

            <div ng-show="ctrl.showChannelList" class="channel-filter">
                <label>Channels: {{ctrl.totChannelSelected}} / 15</label>
                <search-box layout="row">
                    <input type="search" ng-model="search" flex>
                    <md-icon md-svg-src="/res/drawable/ic_search.svg"></md-icon>
                </search-box>
                <div layout="column" class="list">
                    <md-button ng-repeat="channel in ctrl.channels | filter: search" 
                            ng-click="selectChannel(channel)" 
                            layout="row"
                            ng-style="channel.selected ? {'background':'#77777740'} 
                                                        : {'background':'transparent'}"
                    >
                        <div class="logo" style="background-image: url({{channel.poster[0].url}})"></div>
                        <div flex>
                            {{channel.name}}
                        </div>
                    </md-button>
                </div>
            </div>
        </div>

        <div class="line"></div>
        <div layout="row" layout-align="end">
            <md-button class="md-raised" ng-click="cancel()">
                cancel
            </md-button>
            <md-button class="md-raised" ng-click="save()">
                Save
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>