<div secction layout-fill layout="column">
    <h1>Subscribers</h1>
    <div block layout="row">
        <search-box layout="row">
            <input type="search" ng-model="search" flex>
            <md-icon md-svg-src="/res/drawable/ic_search.svg"></md-icon>
        </search-box>
    </div>
    <scroll-view orientation="vertical" layout="column" flex>
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        email
                    </th>
                    <th>
                        packages
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Last Update
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subscriber in subscribers | filter : search ">
                    <td>
                        {{subscriber.subscriberId}}
                    </td>
                    <td>
                        {{subscriber.email}}
                    </td>
                    <td>
                        <div class="glove" ng-repeat="product in subscriber.products">
                            {{product}}
                        </div>
                    </td>
                    <td>
                        {{subscriber.creationDate | date:'MMMMdd, yyyy'}}
                    </td>
                    <td>
                        {{subscriber.lastUpdate | date:'MMMMdd, yyyy'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </scroll-view>
</div>
