<div secction layout-fill layout="column">
    <h1>{{isNew ? "New Channel" : "Channel Detail"}}</h1>

    <scroll-view orientation="vertical" class="form" layout="row">
        <div>
            <item>
                <label>Logo</label>
                <div layout="row">
                    <div flex layout="row">
                        <div class="channel-logo"
                             ng-style='getUrlPoster(channelData)'
                             ng-click="uploadImage()"></div>
                    </div>
                    <div flex>
                        <div layout="row" layout-align="start center">
                            <span style="margin-right: 10px">Enabled</span>
                            <md-switch ng-model="channelData.enabled" aria-label="Switch 1"></md-switch>
                        </div>
                        <md-button ng-hide="isNew" md-no-ink class="md-raised md-primary"
                                   ng-click="removeChannel()">Remove Channel
                        </md-button>
                    </div>
                </div>
            </item>
            <div layout="row">

                <div layout="column" style="min-width: 300px">
                    <item>
                        <label>Name</label>
                        <input type="text" ng-model="channelData.name" aria-label="first name" title="first name"
                               autocomplete="off">
                    </item>

                    <item>
                        <label>Category</label>
                        <md-select ng-model="channelData.category">
                            <md-option>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="category in categories" ng-value="category._id">
                                {{category.name}}
                            </md-option>
                        </md-select>
                    </item>

                    <item>
                        <label>Short description</label>
                        <input type="text" ng-model="channelData.descriptionShort" aria-label="first name"
                               title="first name"
                               autocomplete="off">
                    </item>

                    <div layout="row">
                        <item flex>
                            <label>Priority</label>
                            <input type="text" ng-model="channelData.priority" aria-label="first name"
                                   title="priority"
                                   autocomplete="off"
                                   style="width: 100px;">
                        </item>
                        <div style="width: 20px;"></div>
                        <item flex>
                            <label>EPG Source Id</label>
                            <input type="text" ng-model="channelData.channelEPGId" aria-label="first name"
                                   title="first name"
                                   autocomplete="off"
                                   style="width: 100px;">
                        </item>
                    </div>

                    <item>
                        <label>Large description</label>
                        <textarea type="text" ng-model="channelData.descriptionLong" aria-label="first name"
                                  title="first name"
                                  autocomplete="off" rows="4">
                        </textarea>
                    </item>

                    <item>
                        <label>Options</label>
                        <md-switch ng-model="channelData.deinterlace" aria-label="Switch 1">Deinterlace</md-switch>
                        <md-switch ng-model="channelData.forceX264" aria-label="Switch 1">Force h264</md-switch>
                        <md-switch ng-model="channelData.h265" aria-label="Switch 1">Enable h265</md-switch>
                        <md-switch ng-model="channelData.useMpkg" aria-label="Switch 1">Use mPKG</md-switch>
                        <md-switch ng-model="channelData.sd" aria-label="Switch 1">SD</md-switch>
                    </item>

                    <item>
                        <label>Aspect Ratio</label>
                        <input type="text" ng-model="channelData.aspectRatio" aria-label="Aspect Ratio"
                               title="Aspect Ratio"
                               autocomplete="off">
                    </item>

                </div>
                <div layout="column" style="margin-left: 20px" ng-show="!isNew">
                    <item>
                        <label>Playing</label>
                        <div ng-repeat="publishing in channelData.publishing">
                            {{publishing.type}}: {{publishing.streamName}}
                        </div>
                    </item>

                    <item>
                        <label>RTMP Entry Point</label>
                        {{channelData.entryPoint.type}}:
                        {{channelData.entryPoint.streamKey}}
                    </item>

                    <item>
                        <label>Transcoder Id</label>
                        <input type="text" ng-model="channelData.transcoder">
                    </item>

                    <item class="separator">
                        <label>Source</label>
                    </item>
                    <item>
                        <label>Push Entry Point Id</label>
                        <input type="text" ng-model="channelData.source.entrypointId">
                    </item>
                    <div layout="row">
                        <item>
                            <label>Source IP</label>
                            <input type="text" ng-model="channelData.source.ip"
                                   style="width: 150px;margin-right: 16px">
                        </item>
                        <item>
                            <label>PORT</label>
                            <input type="text" ng-model="channelData.source.port"
                                   style="width: 60px">
                        </item>
                    </div>
                    <div layout="row">
                        <item>
                            <label>Audio ID</label>
                            <input type="text" ng-model="channelData.source.audioPkgId"
                                   style="width: 106px;margin-right: 16px">
                        </item>

                        <item>
                            <label>Video ID</label>
                            <input type="text" ng-model="channelData.source.videoPkgId"
                                   style="width: 106px;">
                        </item>
                    </div>
                    <item>
                        <label>UDP Params Overload</label>
                        <input type="text" ng-model="channelData.source.udpQuery"
                               placeholder="(Use & prefix to append)">
                    </item>
                    <md-button ng-click="restartPush()" class="md-raised md-primary" layout="row"
                               layout-align="center center">
                        <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                              md-diameter="30"></md-progress-circular>
                        <span ng-show="!loading">Restart Push</span>
                    </md-button>
                    <item class="separator">
                        <label>Monitoring</label>
                    </item>
                    <item>
                        <label>Priority</label>
                        <input type="number" ng-model="channelData.monitoring.priority"
                               style="width: 106px;">
                    </item>
                </div>

            </div>


            <md-button ng-click="updateChannel()" class="md-raised md-primary" layout="row"
                       layout-align="center center">
                <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                      md-diameter="30"></md-progress-circular>
                <span ng-show="!loading">Save</span>
            </md-button>


        </div>
    </scroll-view>


</div>
