<div  secction layout-fill layout="column">
    <h1>EPG Monitor</h1>
    <div block layout="row">
        <search-box layout="row">
            <input type="search" ng-model="search.name" flex>
            <md-icon md-svg-src="/res/drawable/ic_search.svg"></md-icon>
        </search-box>
    </div>
    <scroll-view orientation="vertical" flex>

        <table class="table-users" style="width: 100%">
            <thead>
                <tr>
                    <th>Channel</th>
                    <th>channelEPGId</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Details</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-show="loading">
                    <td colspan="5">
                        <div style="padding:20px"
                             layout="row"
                             layout-align="center center">
                            <md-progress-circular
                                    class="md-primary md-hue-3" md-diameter="30"></md-progress-circular>

                        </div>

                    </td>
                </tr>
                <tr ng-hide="loading"
                    style="font-size: 13px"
                    ng-repeat="programme in programmes | filter:search.name " class="table-users__user">
                    <td>
                        <img style="width: 50px" ng-src="{{getIconChannel(programme.channelEPGId)}}">
                    </td>
                    <td>
                        {{programme.channelEPGId}}
                    </td>
                    <td>
                        {{programme.title}}
                    </td>
                    <td style="min-width: 200px;">
                        {{programme.start | date:'MM/dd/yyyy'}} | {{programme.start | date:'h:mma'}} - {{programme.stop | date:'h:mma'}}
                    </td>
                    <td>
                        {{programme.description}}
                    </td>

                </tr>
            </tbody>
        </table>


    </scroll-view>
</div>
