<div secction layout-fill layout="column">
    <h1>Acount Settings</h1>
    <div class="form form-acount-settings" layout="column">
        <item>
            <label>Logo</label>
            <img ng-src={{acount.logo.url}}
                 ng-click="uploadImage()"
                 class="user-profile-photo"/>
        </item>

        <item>
            <label>Name</label>
            <input type="text" ng-model="acount.name" aria-label="Name" title="Name"
                   autocomplete="off">
        </item>

        <item>
            <label>Description</label>
            <textarea type="text" ng-model="acount.description" aria-label="Description" title="Description"
                      autocomplete="off"></textarea>
        </item>

        <md-button ng-click="account_users()"
                   class="md-raised md-primary" layout="row" layout-align="center center">Account users</md-button>

        <h2>Active Services</h2>

        <div class="active-services">

            <div class="active-services__service" ng-repeat="service in acount.services">
                {{service}}
            </div>
        </div>

        <md-button ng-click="updateAccount()"
                   class="md-raised md-primary form-acount-settings__save"
                   layout="row" layout-align="center center">save</md-button>



    </div>
</div>
