<div secction layout-fill layout="column">
    <h1>{{isNew ? "New Channel" : "Channel Detail"}}</h1>

    <scroll-view orientation="vertical" class="form" layout="row">
        <div>
            <item>
                <label>Logo</label>
                <div layout="row">
                    <div flex layout="row">
                        <div class="channel-logo"
                             ng-style='getUrlPoster(channelData)'
                             ng-click="uploadImage()"></div>
                    </div>
                    <div flex>
                        <div layout="row" layout-align="start center">
                            <span style="margin-right: 10px">Enabled</span>
                            <md-switch ng-model="channelData.enabled" aria-label="Switch 1"></md-switch>
                        </div>
                        <md-button ng-hide="isNew" md-no-ink class="md-raised md-primary"
                                   ng-click="removeChannel()">Remove Channel
                        </md-button>
                    </div>
                </div>
            </item>
            <div layout="row">

                <div layout="column" style="min-width: 300px">
                    <item>
                        <label>Name</label>
                        <input type="text" ng-model="channelData.name" aria-label="first name" title="first name"
                               autocomplete="off">
                    </item>

                    <item>
                        <label>Category</label>
                        <md-select ng-model="channelData.category">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="category in categories" ng-value="category._id">
                                {{category.name}}
                            </md-option>
                        </md-select>
                    </item>

                    <item>
                        <label>Short description</label>
                        <input type="text" ng-model="channelData.descriptionShort" aria-label="first name"
                               title="first name"
                               autocomplete="off">
                    </item>

                    <item>
                        <label>EPG Source Id</label>
                        <input type="text" ng-model="channelData.channelEPGId" aria-label="first name"
                               title="first name"
                               autocomplete="off">
                    </item>

                    <item>
                        <label>Large description</label>
                        <textarea type="text" ng-model="channelData.descriptionLong" aria-label="first name"
                                  title="first name"
                                  autocomplete="off" rows="4">
                        </textarea>
                    </item>
                </div>
                <div layout="column" style="margin-left: 20px" ng-show="!isNew">
                    <item>
                        <label>Playing</label>
                        <div ng-repeat="publishing in channelData.publishing">
                            {{publishing.type}}: {{publishing.streamName}}
                        </div>
                    </item>

                    <item>
                        <label>Entry Point</label>
                        {{channelData.entryPoint.type}}
                        {{channelData.entryPoint.streamKey}}
                    </item>

                    <item>
                        <label>Notes</label>
                        <textarea ng-model="channelData.notes" cols="40" rows="8"></textarea>
                    </item>
                </div>

            </div>


            <md-button ng-click="updateChannel()" class="md-raised md-primary" layout="row"
                       layout-align="center center">
                <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                      md-diameter="30"></md-progress-circular>
                <span ng-show="!loading">Save</span>
            </md-button>


        </div>
    </scroll-view>


</div>
