<div secction layout-fill layout="column">
    <div layout="row">
        <div flex></div>
        <div class="stats-box">
            <value>{{summary.android | number : 0 }}%</value>
            <label>Android</label>
        </div>
        <div flex></div>
        <div class="stats-box">
            <value>{{summary.androidTv | number : 0}}%</value>
            <label>TV BOX</label>
        </div>
        <div flex></div>
        <div class="stats-box">
            <value>{{summary.ios | number : 0}}%</value>
            <label>iOs</label>
        </div>
        <div flex></div>
        <div class="stats-box">
            <value>{{summary.browser | number : 0}}%</value>
            <label>Web</label>
        </div>
        <div flex></div>
    </div>
    <div>
        <div class="channel_chart" id="sb-chart">
            <h1>Devices</h1>
            <canvas ></canvas>
        </div>
    </div>
</div>

