<div secction layout-fill layout="column">
    <div class="nx-ott-stats-header" layout="row">
        <md-menu>
            <md-button aria-label="Subsections" class="nx-section-menu" ng-click=" $mdMenu.open($event)">
                <md-icon md-svg-src="{{currentSection.icon}}"></md-icon>
                <label>
                    {{currentSection.name}}
                </label>
                <md-icon md-svg-src="/res/drawable/ic_options.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="section in sections">
                    <md-button ng-click="startSection(section)">
                        <md-icon md-svg-src="{{section.icon}}"></md-icon>
                        {{section.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <div flex></div>
        <div layout="column">
            <div layout="row" layout-align="center center">
                <md-button aria-label="Subsections" class="md-icon-button" ng-click="filters.changeDates()">
                    <md-icon md-svg-src="/res/drawable/ic_calendar.svg"></md-icon>
                </md-button>
                <md-button aria-label="Subsections" class="md-icon-button" ng-class=""
                           ng-click="filters.changeParameters()">
                    <md-icon
                            md-svg-src="{{!filters.active?'/res/drawable/ic_filter.svg':'/res/drawable/ic_filter_fill.svg'}}"></md-icon>
                </md-button>
            </div>
            <div style="font-size: 12px">
                {{filters.dates.start | date}} - {{filters.dates.end | date}}
            </div>
        </div>
    </div>
    <div section ng-include="templateUrl" flex style="overflow-y: scroll">
    </div>
</div>

