<div secction layout-fill layout="column">
    <h1>OTT Configuration</h1>
    <div class="form form-acount-settings" layout="column">
        <item>
            <label>keep watching warning</label>
            <input type="number" min="0" ng-model="ottConfigurations.keepWatchingWarning" aria-label="keep"
                   title="keep">
        </item>

        <md-button ng-click="save()" class="md-raised md-primary form-acount-settings__save"
                   layout="row" layout-align="center center">
            <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                  md-diameter="30"></md-progress-circular>
            <span ng-show="!loading">Save</span>
        </md-button>

    </div>
</div>

