<div style="display: inline-block">
    <label style="display: block; margin-bottom: 12px">
        {{server.name}}
    </label>
    <img src="/res/drawable/vc_server_ok.svg">
</div>

<h3 style="margin-bottom: 12px">Server Status:</h3>
<div class="row" layout="row">
    <div class="stats-item" ng-repeat="item in transcoderItems()">
        <label class="name">{{item.label}}</label>
        <label class="data">{{item.data}}</label>
    </div>
</div>
<h3 style="margin-bottom: 12px">Current Tasks:</h3>
<table class="table-server-tasks">
    <thead>
        <tr>
            <th>PID</th>
            <th>CPU</th>
            <th>GPU (enc,dec,mem)</th>
            <th style="min-width: 54px;">Mem</th>
            <th style="min-width: 92px;">Elapsed Time</th>
            <th>Stream</th>
            <th>Channel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-size: 13px"
            ng-repeat="task in serverCondition.transcoderTasks" class="table-users__user">
            <td>
                {{task.pid}}
            </td>
            <td>
                {{task.cpu}} %
            </td>
            <td>
                {{gpuResume(task)}}
            </td>
            <td>
                {{task.mem / 1024 | number : 1}} KB
            </td>
            <td>
                {{formatUptime(task.etime)}}
            </td>
            <td>
                <md-button class="md-primary" ng-click="testTxStream(task, $event)">
                    {{task.hash}}
                </md-button>

            </td>
            <td>
                <md-button class="md-primary" ng-click="openChannel(task, $event)">
                    {{getChannel(task.hash)?getChannel(task.hash).name:"loading..."}}
                </md-button>
            </td>
            <td>
                <md-button class="md-warn" ng-click="restartTranscoder(task, $event)">
                    restart
                </md-button>
            </td>
        </tr>
    </tbody>
</table>

