<div secction layout-fill layout="column">
    <h1>User Profile & Settings</h1>
    <div class="form" layout="column">

        <div layout="row">
            <div layout="column">
                <item flex>
                    <label>first name</label>
                    <input type="text" ng-model="userData.firstName" aria-label="first name" title="first name"
                           autocomplete="off">
                </item>

                <item flex>
                    <label>last name</label>
                    <input type="text" ng-model="userData.lastName" aria-label="last name" title="last name" autocomplete="off">
                </item>
            </div>
            <div layout="column" >
                <div flex layout="row" layout-align="center center">
                    <img ng-src={{userData.photo.url}}
                         ng-click="uploadImage()"
                         class="user-profile-photo" />
                </div>
            </div>
        </div>

        <item>
            <label>email</label>
            <input type="email" ng-model="userData.email" aria-label="email" title="email" autocomplete="off" disabled>
        </item>

        <item>
            <label>Password</label>
            <md-button md-no-ink class="md-primary" ng-click="dialog_changePassword ()">Change Password</md-button>
            <!--
            <div layout="row">

                <input placeholder="new password" type="password" ng-model="userData.newPassword" aria-label="password"
                       title="password" autocomplete="off">
                <input placeholder="password verification" type="password" ng-model="userData.newPasswordVerify"
                       aria-label="password verification" title="password verification" autocomplete="off">
            </div>
            -->
        </item>

        <item>
            <label>account</label>
            <input type="text" ng-model="userData.account" aria-label="email" title="account" disabled>
        </item>


        <md-button ng-click="updateUser()" class="md-raised md-primary" layout="row" layout-align="center center">
            <md-progress-circular ng-show="loading" class="md-primary md-hue-3" md-diameter="30"></md-progress-circular>
            <span ng-show="!loading">Save</span>
        </md-button>


    </div>
</div>
