<div secction layout-fill layout="column">
    <h1 title="Banner Size: 150x1920px | Max 2MB | jpg, jpeg, png">{{isNew ? "New Banner" : "Banner"}} </h1>

    <scroll-view orientation="vertical" class="form" layout="row">

        <div layout="row">

            <div layout="column">
                <div layout="row">            
                    <item>
                        <label>Banner image <spam title="Banner Size 150x1920px - Max 2MB"> <img width="16px" src="/res/drawable/info.svg"></spam> </label>
                        <div layout="row">
                            <div flex layout="row">
                                <div class="channel-logo"
                                    ng-style='getUrlPoster(bannerData)'
                                    ng-click="uploadImage()"></div>
                            </div>

                        </div>
                    </item>
                </div>
                <div layout="row">

                    <div layout="column" style="min-width: 300px">
                        <item>
                            <label>Name</label>
                            <input type="text" ng-model="bannerData.name" aria-label="Banner Name"
                                   title="Banner Name"
                                   autocomplete="off" required="true">
                        </item>
                        <item title="Note: Only one banner can be active during the selected period of time.">
                            <label >Start Date <spam title="Only one banner can be active during the selected period of time."> <img width="16px" src="/res/drawable/info.svg"></spam></label>
                            <input type="datetime-local" ng-model="bannerData.start" aria-label="Start date"
                                       required="true">
                            </input>
                        </item>
                        <item title="Note: Only one banner can be active during the selected period of time.">
                            <label >End Date <spam > <img width="16px" src="/res/drawable/info.svg"></spam></label>
                            <input type="datetime-local" ng-model="bannerData.end" aria-label="End date"
                                       required="true">
                            </input>
                        </item>
                        <item title="Time on display within the app. ">
                            <label>duration (seconds) <spam title="Time on display within the app"> <img width="16px" src="/res/drawable/info.svg"></spam> </label>
                            <input type="number" min="1" ng-model="bannerData.duration" aria-label="Duration"
                                       required="true">
                        </input>
                        </item>
                    </div>

                </div>

                <div layout="col">

                    <md-button ng-click="updateBanner()" class="md-raised md-primary" layout="row"
                               layout-align="center center">
                        <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                              md-diameter="30"></md-progress-circular>
                        <span ng-show="!loading">Save</span>
                    </md-button>
    
                    <md-button ng-click="backBanner()" class="md-raised md-primary" layout="row"
                               layout-align="center center">
                        <md-progress-circular ng-show="loading" class="md-primary md-hue-3"
                                              md-diameter="30"></md-progress-circular>
                        <span ng-show="!loading">Back</span>
                    </md-button>
                </div>

            </div>
            <div style="padding:16px">
                <!--todo unify this using classes-->
                <md-button ng-hide="isNew" md-no-ink class="md-raised md-primary"
                           ng-click="removeBanner()">Remove Banner
                </md-button>
            </div>
        </div>
    </scroll-view>
</div>
