<div ng-show="true"  secction layout-fill layout="column">
    <h1>Config</h1>
    <div layout="row" layout-align="center center">
        <h2>{{title}}</h2>
        <div flex>
            <div class="config__tabs" >
                <input type="radio" id="tab1" name="tab-control" >
                <input type="radio" id="tab2" name="tab-control" checked>
                <label class="config__tabs__item" for="tab1" role="button" ng-click="selectTab('domains')">
                    Domains
                </label>
                <label class="config__tabs__item" for="tab2" role="button" ng-click="selectTab('avprofiles')">
                    Av Profile
                </label>
            </div>
        </div>

    </div>

    <div layout="column" flex ng-include="templateUrl"></div>
</div>

<div ng-show="false" secction layout-fill layout="column" layout-align="center center">


    <div style="text-align: center">
        <md-icon md-svg-src="/res/drawable/vc_unavailable.svg" style="height: 110px;width: 110px; margin: 20px">
        </md-icon>
        <h1>Action unavailable</h1>
    </div>

</div>
